In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load data

In [16]:
dataset=pd.read_csv('D:\\PGP IN DATA SCIENCE with Careerera\\Data Sets\\Melbourne_housing_FULL.csv')
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

### SIze & Shape

In [17]:
dataset.shape

(34857, 21)

In [18]:
dataset.size

731997

### Data Type of all columns

In [19]:
dataset.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

### Null Values present in our data

In [20]:
dataset.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

### Select only relevent columns

In [21]:
col = ['Suburb',  'Rooms', 'Type','Method', 'SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2','Bathroom','Car',
       'Landsize', 'BuildingArea',"Price"]
dataset=dataset[col]
dataset.columns
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [22]:
dataset.shape

(34857, 15)

In [23]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

### Fill the missing values

In [24]:
col_to_zero = ['Propertycount','Distance','Bedroom2',"Bathroom",'Car']
dataset[col_to_zero] = dataset[col_to_zero].fillna(0)

In [25]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())
dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [26]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

### Create Dummies

In [27]:
dummies1 = pd.get_dummies(dataset.Suburb)
dummies2 = pd.get_dummies(dataset.Type)
dummies3 = pd.get_dummies(dataset.Method)
dummies4 = pd.get_dummies(dataset.SellerG)
dummies5 = pd.get_dummies(dataset.Regionname)
dummies6 = pd.get_dummies(dataset.CouncilArea)

In [28]:
dataset = pd.concat([dataset,dummies1,dummies2,dummies3,dummies4,dummies5,dummies6],axis='columns')
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,...,Moorabool Shire Council,Moreland City Council,Nillumbik Shire Council,Port Phillip City Council,Stonnington City Council,Whitehorse City Council,Whittlesea City Council,Wyndham City Council,Yarra City Council,Yarra Ranges Shire Council
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,...,0,0,0,0,0,0,0,0,1,0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,...,0,0,0,0,0,0,0,0,1,0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,0,0,0,0,0,0,0,0,1,0
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,0,0,0,0,0,0,0,0,1,0
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,...,0,0,0,0,0,0,0,0,1,0

In [29]:
dataset = dataset.drop(['Suburb','viewbank','Type','h','Method','S','SellerG','Biggin','Regionname','Northern Metropolitan','CouncilArea','Yarra City Council'], axis='columns')
dataset.shape

(27244, 745)

### Seperate independent and dependet variable

In [30]:
x= dataset.drop("Price",axis=1)
y=dataset['Price']

### Split Data into Training and Testing set

In [47]:
from sklearn.model_selection import train_test_split
train_x , test_x, train_y, test_y = train_test_split(x,y,test_size=0.3, random_state=2)

In [48]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_x,train_y)

In [49]:
print('Training Score', reg.score(train_x,train_y))
print('Testing Score', reg.score(test_x,test_y))

Training Score 0.6827792395792723
Testing Score 0.13871259609631548

**Here we can observe that the training score is good but testing score is low hence data have high Variance and the data in overfitted**

**To solve this Overfitting problem use Lasso or Ridge Regularization**

### Lasso Regularization

In [50]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 50, max_iter = 100,tol = 0.1)
lasso = lasso_reg.fit(train_x,train_y)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1328131194316487.5, tolerance: 796258688308225.8
  model = cd_fast.enet_coordinate_descent(

In [51]:
print('Training Score', lasso_reg.score(train_x,train_y))
print('Testing Score', lasso_reg.score(test_x,test_y))

Training Score 0.6766676534532083
Testing Score 0.6635736879835028

### Ridge Regularization

In [52]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 50,max_iter = 100,tol = 0.1)
ridge = ridge_reg.fit(train_x,train_y)

In [53]:
print('Training Score', ridge_reg.score(train_x,train_y))
print('Testing Score', ridge_reg.score(test_x,test_y))

Training Score 0.6626518923015499
Testing Score 0.6671776218329444