In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Load the Dataset**

In [6]:
df=pd.read_csv('D:\\PGP IN DATA SCIENCE with Careerera\\Data Sets\\ML Simplilearn Datasets\\zoo.csv')
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

**Information about columns**

In [7]:
df.shape

(101, 18)

In [11]:
df.columns

Index(['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne',
       'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous',
       'fins', 'legs', 'tail', 'domestic', 'catsize', 'class_type'],
      dtype='object')

In [12]:
df.dtypes

animal_name    object
hair            int64
feathers        int64
eggs            int64
milk            int64
airborne        int64
aquatic         int64
predator        int64
toothed         int64
backbone        int64
breathes        int64
venomous        int64
fins            int64
legs            int64
tail            int64
domestic        int64
catsize         int64
class_type      int64
dtype: object

In [10]:
df.animal_name.unique()

array(['aardvark', 'antelope', 'bass', 'bear', 'boar', 'buffalo', 'calf',
       'carp', 'catfish', 'cavy', 'cheetah', 'chicken', 'chub', 'clam',
       'crab', 'crayfish', 'crow', 'deer', 'dogfish', 'dolphin', 'dove',
       'duck', 'elephant', 'flamingo', 'flea', 'frog', 'fruitbat',
       'giraffe', 'girl', 'gnat', 'goat', 'gorilla', 'gull', 'haddock',
       'hamster', 'hare', 'hawk', 'herring', 'honeybee', 'housefly',
       'kiwi', 'ladybird', 'lark', 'leopard', 'lion', 'lobster', 'lynx',
       'mink', 'mole', 'mongoose', 'moth', 'newt', 'octopus', 'opossum',
       'oryx', 'ostrich', 'parakeet', 'penguin', 'pheasant', 'pike',
       'piranha', 'pitviper', 'platypus', 'polecat', 'pony', 'porpoise',
       'puma', 'pussycat', 'raccoon', 'reindeer', 'rhea', 'scorpion',
       'seahorse', 'seal', 'sealion', 'seasnake', 'seawasp', 'skimmer',
       'skua', 'slowworm', 'slug', 'sole', 'sparrow', 'squirrel',
       'starfish', 'stingray', 'swan', 'termite', 'toad', 'tortoise',
       'tuatara', 'tuna', 'vampire', 'vole', 'vulture', 'wallaby', 'wasp',
       'wolf', 'worm', 'wren'], dtype=object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [14]:
df.isnull().sum()

animal_name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
class_type     0
dtype: int64

In [15]:
df.drop('animal_name',axis=1,inplace=True)
df.columns

Index(['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator',
       'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail',
       'domestic', 'catsize', 'class_type'],
      dtype='object')

In [16]:
df.legs.unique()

array([4, 0, 2, 6, 8, 5], dtype=int64)

In [17]:
df.class_type.unique()

array([1, 4, 2, 7, 6, 5, 3], dtype=int64)

**Divide data into dependent & independet variable**

In [19]:
X=df.drop('class_type',axis=1).values
y=df.class_type.values
print('Independent Variables :', X)
print('Dependent Variables :', y)

Independent Variables : [[1 0 0 ... 0 0 1]
 [1 0 0 ... 1 0 1]
 [0 0 1 ... 1 0 0]
 ...
 [1 0 0 ... 1 0 1]
 [0 0 1 ... 0 0 0]
 [0 1 1 ... 1 0 0]]
Dependent Variables : [1 1 4 1 1 1 1 4 4 1 1 2 4 7 7 7 2 1 4 1 2 2 1 2 6 5 5 1 1 1 6 1 1 2 4 1 1
 2 4 6 6 2 6 2 1 1 7 1 1 1 1 6 5 7 1 1 2 2 2 2 4 4 3 1 1 1 1 1 1 1 1 2 7 4
 1 1 3 7 2 2 3 7 4 2 1 7 4 2 6 5 3 3 4 1 1 2 1 6 1 7 2]

**Split the data into train & test set**

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)
print("Shape of X_train", len(X_train))
print("Shape of X_test", len(X_test))
print("Shape of y_train", len(y_train))
print("Shape of y_test", len(y_test))

Shape of X_train 80
Shape of X_test 21
Shape of y_train 80
Shape of y_test 21

**Fit the training set to logistic model**

In [23]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model=model.fit(X_train,y_train)

**Compare Predicted and Actual Values**

In [24]:
pred=model.predict(X_test)
print("Predicted Values", pred)
print("Actual Values", y_test)

Predicted Values [5 4 4 1 1 1 2 4 1 1 7 1 2 7 4 6 1 6 2 4 2]
Actual Values [5 4 4 1 1 1 2 4 1 1 7 1 2 7 4 6 1 6 2 4 2]

**Check how good our model**

In [28]:
print("Training Accuracy", model.score(X_train, y_train))
print("Testing Accuracy", model.score(X_test, y_test))

Training Accuracy 0.9875
Testing Accuracy 1.0

**Accuracy is good**

**Perform KNN Classification to predict the class_type**

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)
print("Shape of X_train", len(X_train))
print("Shape of X_test", len(X_test))
print("Shape of y_train", len(y_train))
print("Shape of y_test", len(y_test))

Shape of X_train 80
Shape of X_test 21
Shape of y_train 80
Shape of y_test 21

In [33]:
knn=KNeighborsClassifier()
knn=knn.fit(X_train,y_train)

In [34]:
pred=knn.predict(X_test)
print("Predicted Values", pred)
print("Actual Values", y_test)

Predicted Values [5 4 4 1 1 1 2 4 1 1 7 1 2 7 4 6 1 6 2 4 2]
Actual Values [5 4 4 1 1 1 2 4 1 1 7 1 2 7 4 6 1 6 2 4 2]

In [35]:
print("Training Accuracy", knn.score(X_train, y_train))
print("Testing Accuracy", knn.score(X_test, y_test))

Training Accuracy 0.95
Testing Accuracy 1.0